{% extends "frontend/layout.njk" %}

{% block content %}
    <div class="centro">
        <div class="texto">
            <h1>As melhores receitas</h1>
            <p>Aprensa a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="mascote">
            <img src="/chef.png" alt="">
        </div>
    </div>

    <div class="popular">
        <p>Mais acessadas</p>
    </div>

    <div class="pratos">
        
        {% for item in items.slice(0, 6) %}
            <div class="receita" id="{{item.image}}">            
                <img src="{{item.image}}" alt="" onclick="modal()">
                <h3>{{item.title}}</h3>
                <p>{{item.author}}</p>
            </div>
        {% endfor %}
    </div>

<!-- MODAL -->

<div class="modal">
    <div class="modal-on">
        <div class="image-modal">
            <img src="" frameborder="0" alt="">
        </div>
        <div>
            <h3></h3>
            <p></p>
            <button class="close">Fechar</button>
        </div>
    </div>
</div>

{% endblock %}