{% extends "frontend/layout.njk" %}

{% block head %}
    <title>Receitas | {{item.title}}</title>
{% endblock %}

{% block content %}

    <div class="prato-centro">
        <img src="{{item.image}}" alt="Imagem do prato {{item.title}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{item.title}}</h3>
        <p>{{item.author}}</p>
    </div>

    <div class="hideShow">
        <div class="sub-titulos">
            <div class="grid-ing">
                <h3>Ingredientes</h3>
                <h4 id="hideIng" style="display: block" onclick="ocultaIng()">ESCONDER</h4>
                <h4 id="showIng" style="display: none" onclick="exibeIng()">MOSTRAR</h4>
            </div>
        </div>
        <div id="ingredientes" class="conteudo-text" style="display: block">
            <ul>
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="hideShow">
        <div class="sub-titulos">
            <div class="grid-preparo">
                <h3>Modo de preparo</h3>
                <h4 id="hidePreparo" style="display: block" onclick="ocultaPreparo()">ESCONDER</h4>
                <h4 id="showPreparo" style="display: none" onclick="exibePreparo()">MOSTRAR</h4>
            </div>
        </div>
        <div id="preparo" class="conteudo-text" style="display: block">
            <ul>
                {% for preparation1 in item.preparation %}
                    <li>{{preparation1}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="hideShow">
        <div class="sub-titulos">
            <div class="grid-info">
                <h3>Informações adicionais</h3>
                <h4 id="hideInfo" style="display: block" onclick="ocultaInfo()">ESCONDER</h4>
                <h4 id="showInfo" style="display: none" onclick="exibeInfo()">MOSTRAR</h4>
            </div>
        </div>
            <div id="infoAd" class="conteudo-text" style="display: block">
            <p>{{item.information}}</p>
        </div>
    </div>
{% endblock %}