{% extends 'frontend/layout.njk' %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block content %}

<div class="popular">
    <p>Sobre o FoodFy</p>
</div>

<div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus purus dui, nec efficitur risus posuere bibendum. Duis vestibulum ut arcu in viverra. Aenean et magna eget orci interdum tempus vel eget massa. Vestibulum volutpat tortor non arcu maximus, vel facilisis eros efficitur. Cras orci quam, eleifend eget posuere nec, aliquam ut ipsum. Nulla dolor purus, malesuada sit amet purus at, eleifend varius nisi. Cras pharetra pulvinar ipsum et consectetur. Cras dictum nibh elit. Vestibulum pretium et massa id rutrum. Aenean tristique, urna ut vestibulum vehicula, ante nibh sollicitudin libero, eget luctus mauris mi sed dolor. Suspendisse sit amet pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus finibus vestibulum vehicula.
    </p><br>    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus purus dui, nec efficitur risus posuere bibendum. Duis vestibulum ut arcu in viverra. Aenean et magna eget orci interdum tempus vel eget massa. Vestibulum volutpat tortor non arcu maximus, vel facilisis eros efficitur. Cras orci quam, eleifend eget posuere nec, aliquam ut ipsum. Nulla dolor purus, malesuada sit amet purus at, eleifend varius nisi. Cras pharetra pulvinar ipsum et consectetur. Cras dictum nibh elit. Vestibulum pretium et massa id rutrum. Aenean tristique, urna ut vestibulum vehicula, ante nibh sollicitudin libero, eget luctus mauris mi sed dolor. Suspendisse sit amet pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus finibus vestibulum vehicula.
    </p>
</div>

<div class="sub_content">
    <p>Como tudo começou...</p>
</div>

<div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus purus dui, nec efficitur risus posuere bibendum. Duis vestibulum ut arcu in viverra. Aenean et magna eget orci interdum tempus vel eget massa. Vestibulum volutpat tortor non arcu maximus, vel facilisis eros efficitur. Cras orci quam, eleifend eget posuere nec, aliquam ut ipsum. Nulla dolor purus, malesuada sit amet purus at, eleifend varius nisi. Cras pharetra pulvinar ipsum et consectetur. Cras dictum nibh elit. Vestibulum pretium et massa id rutrum. Aenean tristique, urna ut vestibulum vehicula, ante nibh sollicitudin libero, eget luctus mauris mi sed dolor. Suspendisse sit amet pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus finibus vestibulum vehicula.
    </p><br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus purus dui, nec efficitur risus posuere bibendum. Duis vestibulum ut arcu in viverra. Aenean et magna eget orci interdum tempus vel eget massa. Vestibulum volutpat tortor non arcu maximus, vel facilisis eros efficitur. Cras orci quam, eleifend eget posuere nec, aliquam ut ipsum. Nulla dolor purus, malesuada sit amet purus at, eleifend varius nisi. Cras pharetra pulvinar ipsum et consectetur. Cras dictum nibh elit. Vestibulum pretium et massa id rutrum. Aenean tristique, urna ut vestibulum vehicula, ante nibh sollicitudin libero, eget luctus mauris mi sed dolor. Suspendisse sit amet pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus finibus vestibulum vehicula.
    </p>
</div>

<div class="sub_content">
    <p>Nossas receitas</p>
</div>

<div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus purus dui, nec efficitur risus posuere bibendum. Duis vestibulum ut arcu in viverra. Aenean et magna eget orci interdum tempus vel eget massa. Vestibulum volutpat tortor non arcu maximus, vel facilisis eros efficitur. Cras orci quam, eleifend eget posuere nec, aliquam ut ipsum. Nulla dolor purus, malesuada sit amet purus at, eleifend varius nisi. Cras pharetra pulvinar ipsum et consectetur. Cras dictum nibh elit. Vestibulum pretium et massa id rutrum. Aenean tristique, urna ut vestibulum vehicula, ante nibh sollicitudin libero, eget luctus mauris mi sed dolor. Suspendisse sit amet pharetra neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus finibus vestibulum vehicula.
    </p>
</div>
</div>

{% endblock %}