<div class="sub-titulos-edit">
    <div>Título da receita</div>
    <input type="text" name="title" value="{{ item.title }}">
</div>

<div class="sub-titulos-edit">
    <div>Autor da receita</div>
    <input type="text" name="author" value="{{ item.author }}">
</div>

<div class="sub-titulos-edit">
    <div>URL da imagem da receita</div>
    <input type="url" name="image" value="{{ item.image }}">    
</div>

<div id="ingredientes" class="sub-titulos-edit">
    <div>Ingredientes</div>
    {% for ingredient in item.ingredients %}
        <div id="ingrediente">
            <input type="text" name="ingredients[]" placeholder="Digite o novo ingrediente..." value="{{ ingredient }}">
        </div>
    {% endfor %}
</div>
<button type="button" class="add-ingredient" onclick="addIngredient()">Adicinar novo ingrediente</button>

<div id="preparos" class="sub-titulos-edit">
    <div>Modo de preparo</div>
    {% for preparation1 in item.preparation %}
        <div id="preparo">
            <input type="text" name="preparation[]" placeholder="Inclua uma etapa do preparo da receita..." value="{{ preparation1 }}">
        </div>        
    {% endfor %}    
</div>
<button type="button" class="add-preparo" onclick="addPreparo()">Adicinar novo passo</button>

<div class="sub-titulos-edit">
    <div>Informações adicionais</div>
    <textarea name="information" id="" cols="1" rows="10">{{ item.information }}</textarea>
</div>
