<div class="sub-titulos-edit">
    <div>Título da receita</div>
    <input type="text"value="{{ item.title }}">
</div>

<div class="sub-titulos-edit">
    <div>URL da imagem da receita</div>
    <input type="url"value="{{ item.image }}">    
</div>

<div class="sub-titulos-edit">
    <div>Ingredientes</div>
    <input type="text"value="{{ item.ingredients }}">
</div>

<div class="sub-titulos-edit">
    <div>Modo de preparo</div>
    <input type="text"value="{{ item.preparation }}">
</div>

<div class="sub-titulos-edit">
    <div>Informações adicionais</div>
    <input type="text"value="{{ item.information }}">
</div>
