{% extends "admin/layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/admin">
    <section class="details">
        <h3>Nova receita</h3>

        <div class="sub-titulos-edit">
            <div>Título da receita</div>
            <input type="text" name="title" placeholder="Dê um nome a sua receita...">
        </div>

        <div class="sub-titulos-edit">
            <div>Nome do autor da receita</div>
            <input type="text" name="author" placeholder="Informe o nome do autor da receita">
        </div>

        <div class="sub-titulos-edit">
            <div>URL da imagem da receita</div>
            <input type="url" name="image" placeholder="Coloque um link da imagem da sua receita...">    
        </div>

        <div id="ingredientes" class="sub-titulos-edit">
            <div>Ingredientes</div>
            <div id="ingrediente">
                    <input type="text" name="ingredients[]" placeholder="Inclua um ingrediente...">
                </div>
            </div>
        <button type="button" class="add-ingredient" onclick="addIngredient()">Adicinar novo ingrediente</button>

        <div id="preparos" class="sub-titulos-edit">
            <div>Modo de preparo</div>
            <div id="preparo">
                    <input type="text" name="preparation[]" placeholder="Inclua uma etapa do preparo da receita...">
                </div>        
        </div>
        <button type="button" class="add-preparo" onclick="addPreparo()">Adicinar novo passo</button>

        <div class="sub-titulos-edit">
            <div>Informações adicionais</div>
            <textarea name="information" id="" cols="1" rows="10" placeholder="Inclua observações..."></textarea>
        </div>

        <button type="submit">Salvar</button>
    </section>
</form>

{% endblock %}