{% extends "admin/layout.njk" %}

{% block content %}

    
    <div class="container-header-prato">
        <div>
            <h3>Editar receita: {{item.title}}</h3>
            <section class="div-container-header-prato">
                
                <form id="form-delete" action="/admin?_method=DELETE" method="post">
                    <input type="hidden" name="id" value="{{item.id}}">
                    <button type="submit">Deletar</button>
                </form>

                <button form="salva_receita" type="submit">Salvar alterações</button>

            </section>
        </div>
    </div>

    <form id="salva_receita" method="POST" action="/admin/prato?_method=PUT">
        <input type="hidden" name="id" value="{{ item.id }}">
        {% include 'admin/campos.njk' %}            
    </form>

    <section class="details">
        <script>
            const formDelete = document.querySelector("#form-delete");
            formDelete.addEventListener("submit", function(event) {
                const confirmation = confirm("Confirma a exclusão desta receita?");
                if (!confirmation) {
                    event.preventDefault();
                }
            });
        </script>
    </section>

{% endblock %}


