{% extends "admin/layout.njk" %}

{% block content %}

<div class="card" >

    <div class="container-header-prato">
        <div>
            <h3>Receita: {{item.title}}</h3>
            <div class="div-container-header-prato">
                <a href="/admin/prato/{{ item.id }}/edit">Deletar</a>
                <a href="/admin/prato/{{ item.id }}/edit">Salvar alterações</a>
            </div>
        </div>
        
    </div>

    <div class="prato-centro">
        <img src="{{item.image}}" alt="Imagem do prato {{item.title}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{item.title}}</h3>
        <p>{{item.author}}</p>
    </div>
    
    <div class="sub-titulos-ing">
        <div>Ingredientes</div>
        <div id="hideIng" style="display: block" onclick="ocultaIng()">ESCONDER</div>
        <div id="showIng" style="display: none" onclick="exibeIng()">MOSTRAR</div>
    </div>

    <div id="ingredientes" class="conteudo-text" style="display: block">
        <ul>
            {% for ingredient in item.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}

        </ul>
    </div>

    <div class="sub-titulos-preparo">
        <div>Modo de preparo</div>
        <div id="hidePreparo" style="display: block" onclick="ocultaPreparo()">ESCONDER</div>
        <div id="showPreparo" style="display: none" onclick="exibePreparo()">MOSTRAR</div>
    </div>

    <div id="preparo" class="conteudo-text" style="display: block">
        <ul>
            {% for preparation1 in item.preparation %}
                <li>{{preparation1}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="sub-titulos-info">
        <div>Informações adicionais</div>
        <div id="hideInfo" style="display: block" onclick="ocultaInfo()">ESCONDER</div>
        <div id="showInfo" style="display: none" onclick="exibeInfo()">MOSTRAR</div>
    </div>

    <div id="infoAd" class="conteudo-text" style="display: block">
        <p>{{item.information}}</p>
    </div>

    <section class="details">
        <form method="POST" action="/instructors?_method=PUT">

                <h3>Editar Membro</h3>

                {% include 'admin/campos.njk' %}

                <input type="hidden" name="id" value="{{ instructor.id }}">

        </form>

            <form id="form-delete" action="/instructors?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ instructor.id }}">
                <button type="submit">Deletar</button>
            </form>

            <script>
                const formDelete = document.querySelector("#form-delete");
                formDelete.addEventListener("submit", function(event) {
                    const confirmation = confirm("Deseja deletar este usuário?");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            </script>

    </section>
    
</div>

{% endblock %}

{# 
{% extends "admin/layout.njk" %}

{% block content %}

<div class="card" >

    <section 
        class="avatar" 
        style="background: url({{instructor.avatar_url}}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form method="POST" action="/instructors?_method=PUT">

                <h3>Editar Membro</h3>

                {% include 'admin/campos.njk' %}

                <input type="hidden" name="id" value="{{ instructor.id }}">

        </form>

            <form id="form-delete" action="/instructors?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ instructor.id }}">
                <button type="submit">Deletar</button>
            </form>

            <script>
                const formDelete = document.querySelector("#form-delete");
                formDelete.addEventListener("submit", function(event) {
                    const confirmation = confirm("Deseja deletar este usuário?");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            </script>

    </section>
    
</div>

{% endblock %} #}
