{% extends "admin/layout.njk" %}

{% block head %}
    <title>{{item.title}} | Admin</title>
{% endblock %}

{% block content %}

    <div class="container-header-exibe-prato">
        <div>
            <h3>Receita: {{item.title}}</h3>
            <a href="/admin/prato/{{ item.id }}/edit">Editar receita</a>
        </div>
        
    </div>

    <div class="prato-centro">
        <img src="{{item.image}}" alt="Imagem do prato {{item.title}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{item.title}}</h3>
        <p>{{item.author}}</p>
    </div>
    
    <div class="sub-titulos-ing">
        <div>Ingredientes</div>
        <div id="hideIng" style="display: block" onclick="ocultaIng()">ESCONDER</div>
        <div id="showIng" style="display: none" onclick="exibeIng()">MOSTRAR</div>
    </div>

    <div id="ingredientes" class="conteudo-text" style="display: block">
        <ul>
            {% for ingredient in item.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}

        </ul>
    </div>

    <div class="sub-titulos-preparo">
        <div>Modo de preparo</div>
        <div id="hidePreparo" style="display: block" onclick="ocultaPreparo()">ESCONDER</div>
        <div id="showPreparo" style="display: none" onclick="exibePreparo()">MOSTRAR</div>
    </div>

    <div id="preparo" class="conteudo-text" style="display: block">
        <ul>
            {% for preparation1 in item.preparation %}
                <li>{{preparation1}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="sub-titulos-info">
        <div>Informações adicionais</div>
        <div id="hideInfo" style="display: block" onclick="ocultaInfo()">ESCONDER</div>
        <div id="showInfo" style="display: none" onclick="exibeInfo()">MOSTRAR</div>
    </div>

    <div id="infoAd" class="conteudo-text" style="display: block">
        <p>{{item.information}}</p>
    </div>

    <div>
        <p>Cadastrado em: {{item.criadoEm}}</p>
    </div>

{% endblock %}