{% extends "admin/layout.njk" %}

{% block head %}
    <title>{{item.title}} | Admin</title>
{% endblock %}

{% block content %}

    <div class="container-header-exibe-prato">
        <div>
            <h3>Receita: {{item.title}}</h3>
            <a href="/admin/prato/{{ item.id }}/edit">Editar receita</a>
        </div>
        
    </div>

    <div class="prato-centro">
        <img src="{{item.image}}" alt="Imagem do prato {{item.title}}">
    </div>
    
    <div class="prato-titulo">
        <h3>{{item.title}}</h3>
        <p>{{item.author}}</p>
    </div>
    
    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-ing">
                <h3>Ingredientes</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>

        <div class="conteudo-text" id="ingredientes">
            <ul>
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-preparo">
                <h3>Modo de preparo</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>

        <div class="conteudo-text" id="preparo">
            <ul>
                {% for preparation1 in item.preparation %}
                    <li>{{preparation1}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="showHide">
        <div class="sub-titulos">
            <div class="grid-info">
                <h3>Informações adicionais</h3>
                <h4>ESCONDER</h4>
            </div>
        </div>

        <div class="conteudo-text" id="infoAd">
            <p>{{item.information}}</p>
        </div>
    </div>

    <div class="desde">
        <p>Cadastrado em: {{item.criadoEm}}</p>
    </div>

{% endblock %}