@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: auto;
    background-color: white;
}

.header {
    display: grid;
    grid-template-columns: 213px 1fr;
    padding: 0;
}

.header img {
    width: 90.6px;
    height: 26.9px;
    margin: 36.1px 122.4px 30px 0px;
}

.links {
    margin: 36.1px 0px 42px 0px;
}

.links a {
    color: #111111;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px;
}

.links a.active {
    font-weight: bold;
    color: rgb(163, 13, 13);
    text-decoration: underline;
}

.links a:hover {
    transition: 700ms;
    cursor: pointer;
    color: red;
}

.nav-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin {
    margin: 25.1px 0px 0px 292px;
    border: 0px solid #555;
    padding: 0 0px 0px 0px;
}

.admin h4 {
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    color: #111111;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.admin p {
    width: 100%;
    margin: 5px 0px 5px 0px;
    background-color: #6558C3;
    border-radius: 20px;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 14px;
}

.admin a {
    text-decoration: none;
    padding: 0;
}

.centro {
    width: 100%;
    height: 366px;
    background-color: #FBDFBD;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    margin: 0px 0px 50px 0px;
    padding: 0;
}

.texto {
    margin: 117px auto auto 60px;
    padding: 0px;
}

.texto h1 {
    font-size: 32px;
    color: #111111;
}

.texto p {
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.mascote{
    width: 216px;
    height: 300px;
    margin: 65px auto 0px 157px;
}

.popular {
    margin: 0px 0px 20px 0px;
    color: #111111;
    font-size: 24px;
    font-weight: bold;
}

.pratos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.receita img {
    max-width: 100%;
    width: 307px;
    height: 140px;
    object-fit: fill;
    border-radius: 20px;
}

.receita img:hover {
    cursor: pointer;
}

.receita h3 {
    color: #111111;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.receita p {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.footer {
    background-color: #EEEEEE;
    height: 62px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding: 0;
    margin: 40px 0px 0px 0px;
}

.footer p {
    padding: 23px 0px 0px 0px;
    margin: 0px;
}

.content {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 20px 0;
}

.sub_content p {
    color: #111111;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

/* MODAL */

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.modal-on {
    background-color: white;
    width: 445px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 20px;
    text-align: center;
    transform: translate(-50%, -10%);
}

.modal-on h3 {
    font-size: 24px;
    color: #111111;
    margin: 20px 0px 0px 0px;
}

.modal-on p {
    font-size: 18px;
    color: #777777;
    margin: 5px 0px 0px 0px;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.image-modal {
    padding: 20px 20px 0px 20px;
    
}

.image-modal img {
    max-width: 100%;
    width: 405px;
    height: 121px;
    border-radius: 20px;
}

.image-modal img:hover {
    cursor: pointer;
}

.close {
    background-color: #FBDFBD;
    margin: 30px 0px 0px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    color: #111111;
}

.close:hover {
    cursor: pointer;
}

/* DESCRIÇÃO PRATO */
.prato-centro {
    width: 940px;
    height: 200px;
    background-color: #FBDFBD;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

.prato-centro img {
    width: 940px;
    height: 200px;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;
}

.prato-titulo h3 {
    color: #111111;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    padding: 0;
    margin: 25px 0px 0px 0px;
}

.prato-titulo p {
    color: #777777;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 4px 0px 0px 0px;
}

.sub-titulos {
    margin: 15px 0;
}

.grid-ing {    
    display: grid;
    grid-template-columns: 140px 1fr;
}

.grid-preparo {
    display: grid;
    grid-template-columns: 188px 1fr;
}

.grid-info {
    display: grid;
    grid-template-columns: 255px 1fr;
}

.sub-titulos h3 {
    color: #111111;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.sub-titulos h4 {
    color: #999999;
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 10px 0 0 0;
}

.sub-titulos h4:hover {
    cursor: pointer;
}

.conteudo-text {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 20px 0px 50px 0px;
}

.conteudo-text ul {
    margin-left: 2%;
}

.infos {
    color: #444444;
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    padding: 20px 0 100px 0;
}

.infos img {
    width: 10%;
}

/* ADMIN */

.container-admin {
    width: 100%;
    max-width: 940px;    
    margin: 30px auto 20px auto;
    background-color: white;
}

.header-admin {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    height: 80px;
    color: white;
    padding: 0;
    margin: 0 0 -10px 0;
}

.container-header-admin {
    width: 940px;
    margin: auto;
}

.container-header-admin img {
    width: 90.6px;
    height: 26.9px;
    margin: 27px 0 27px 0px;
}

.titulo-admin {
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.list-receitas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin-receita {
    display: flex;
    margin: 30px 0 0 0;
}

.admin-receita img {
    width: 172px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
}

.list-info h3 {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
}

.list-info p {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-info a {
    text-decoration: none;
    color: #6558c3;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
}

/* EDITAR */

.container-header-exibe-prato div {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 10px 0; 
}

.container-header-exibe-prato h3 {
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

.container-header-prato div {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 10px 0; 
}

button, .container-header-exibe-prato a, .links-titulo-admin a,
.container-header-prato div a {
    color: #FFFFFF;
    background-color: #6558c3;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

/* :nth-child(2) */
.container-header-prato div form button {
    background-color: #dc4747;
    color: #FFFFFF;
}

.div-container-header-prato {
    display: flex;
    margin: 0px;
}

.div-container-header-prato form {
    margin: 0 2px;
}

.sub-titulos-edit {
    color: #111111;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.add-ingredient, .add-preparo {
    background-color: white;
    color: #6558C3;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin: 0px 0 30px 0;
}

button, .add-ingredient, .add-preparo:hover {
    cursor: pointer;
    outline: none;
}

input {
    width: 100%;
    height: 49px;
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 20px 0 15px 0px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
}

textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 102%;
    margin: 20px 0 15px 0px;
    resize: none;
    font-size: 16px;
    font-family: roboto;
    outline: none;
    padding: 18px 20px 0 20px;
}

.links-titulo-admin {
    display: flex;
    justify-content: space-between;
}

.details h3 {
    font-size: 24px;
}

.desde {
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
}
