<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styleFood.css">
</head>
<body>
    <div class="container">
        
        <div class="header">
                <div>
                    <a href="/"><img src="/logo.png" alt="Logo foodFy"></a>
                </div>                
                <div class="links">
                    <a href="sobre">Sobre</a>
                    <a href="receitas">Receitas</a>
                </div>
        </div>
    
        <div class="centro">
            <div class="texto">
                <h1>As melhores receitas</h1>
                <p>Aprensa a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="mascote">
                <img src="/chef.png" alt="">
            </div>
        </div>
    
        <div class="popular">
            <p>Mais acessadas</p>
        </div>
    
        <div class="pratos">
            
            <div class="receita" id="burger">
                <img src="/burger.png" alt="">
                <h3>Triplo bacon burger</h3>
                <p>por Jorge Relato</p>
            </div>

            <div class="receita" id="pizza">
                <img src="/pizza.png" alt="">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>

            <div class="receita" id="doce">
                <img src="/doce.png" alt="">
                <h3>Docinhos pão-do-céu</h3>
                <p>por Ricardo Golvea</p>
            </div>

            <div class="receita" id="lasanha">
                <img src="/lasanha.png" alt="">
                <h3>Lasanha mac n' cheese</h3>
                <p>por Juliano Vieira</p>
            </div>

            <div class="receita" id="espaguete">
                <img src="/espaguete.png" alt="">
                <h3>Espaguete ao alho</h3>
                <p>por Júlia kinoto</p>
            </div>
        
        </div>
    
    </div>    

    <div class="footer">
        <p>Todos direitos reservados, receitas FoodFy</p>
    </div>

    <!-- MODAL -->

    <div class="modal">
        <div class="modal-on">
            <div class="image-modal">
                <img src="" frameborder="0" alt="">
            </div>
            <div>
                <h3></h3>
                <p></p>
                <button class="close">Fechar</button>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>
</body>
</html>